html, body
{
  height: 100%;
  width: 100%;
  background-color: #3d4d5a;
  background-image: url(resources/backgroun.png);
  font-family: Calibri;
  color: #efeff1; 
    font-size: 18px;
}
.photo
{
  border-radius: 50% 50%;
  height: 250px;
  width: 250px;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.zone
{
  color:#1f2b37;
  background-color:#d9d8dd;
  
  padding: 30px;
}
hr {
    z-index: 99999;
    color: #3e4750;
    display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
}
.project
{

  color:#1f2b37;

}
.fa-github:before
{
    color:#2d3f4b;
}


.project-title
{
  font-size: 35px;
  color:#1f2b37 ;
}
.project-description
{
}
.row 
{
  z-index:9999;
}
.project-technologies
{
font-style: italic;
color:#4e6487;
}
.container
{
  z-index: 9999;
  overflow: hidden;

  width: 100%;
            max-width:initial;
           
}
.title-section
{
    font-weight: bold;
 color:#2e4150;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

}
.progress
{
  display: inline-block;
  white-space: nowrap;
  margin: 10px;
}
.rest-row
{
  width: 100%;
}
.cibled
{
  color:#efeff1;
}
#languages
{
  justify-content: space-between; 
}
.card-action
{
  text-align: center;
    color:#3e4750;
}
.card-content
{
    font-size: 16px;
}

.link-rel
{
  color: white;
  font-size: 17px;
}
.scholar
{
    float: right;
    max-height: 100px;
    max-width: 100px;
}
#address
{
    padding-top:50px;
    font-size:22px;
    z-index:9999;
}