html, body
{
  height: 100%;
  width: 100%;
  background-color: #346789;
  background-image: url(resources/backgroun.png);
  font-family: Helvetica;
  color: #d7dfea; 
}
.photo
{
  border-radius: 50% 50%;
  height: 250px;
  width: 250px;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.zone
{
  color:black;
  background-color:#dee1e5;
  opacity: 1;
  padding: 30px;
}
.project
{

  color:black;

}
.project-title
{
  font-size: 35px;
  color:#4286f4 ;
}
.project-description
{
}
.row 
{
  z-index:9999;
}
.project-technologies
{
font-style: italic;
color:#4e6487;
}
.container
{
  z-index: 9999;
  overflow: hidden;

  width: 100%;
            max-width:initial;
           
}
.title-section
{
 color:black;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

}
.progress
{
  display: inline-block;
  white-space: nowrap;
  margin: 10px;
}
.rest-row
{
  width: 100%;
}
.cibled
{
  color:white;
}
#languages
{
  justify-content: space-between; 
}
.card-action
{
  text-align: center;
}
.link-rel
{
  color: white;
  font-size: 17px;
}