@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700);
body{
  background-image: url("../resources/background.png");
  width: 100%;
  justify-content: center;
  align-content: center;
}











.cv {padding:20px;}
.cv aside {margin-bottom:60px;}
.cv aside img {display:block;margin:0 auto;}
.cv aside h2, .cv h1, .cv h3, .cv h4 {font-family: 'Montserrat', sans-serif;}
.cv aside h2 {text-align:center;}
.cv aside h2>span {color:#ff5335;}
.cv aside h2:after {
  display:block;
  content:'{';
  color:#ff5335;
  transform:rotate(-90deg) scale(1.6, 2);
  transform-origin: center;
  font-size:60px;
  font-weight:normal;
}
.cv aside ul.info{margin-top:30px;}
.cv aside ul.info a {
  color:#333;
  font-family:'Montserrat',sans-serif;
  margin-bottom:10px;
  display:block;
  letter-spacing:-0.1em;
}
.cv aside ul.info a:hover {text-decoration:none;}
.cv aside ul.info a:hover i {background:#B83C26;}
.cv aside ul.info a>i {
  background:#ff5335;
  color:#fff;
  width:35px;
  height:35px;
  border-radius:35px;
  text-align:center;
  line-height:35px;
  margin-right:15px;
  -webkit-transition:all 200ms linear;
  -moz-transition:all 200ms linear;
  -o-transition:all 200ms linear;
  transition:all 200ms linear;
}
.cv section {margin-bottom:30px;}
.cv p {font-family:'Open Sans',sans-serif;}
.cv h1, .cv h3, .cv h4 {
  text-transform:uppercase;
  font-weight:bold;
}
.cv h1:nth-child(1){margin-top:0;}
.cv h1 {margin:60px 0 30px 0;}
.cv h3 {font-size:18px;line-height:22px;}
.cv h4 {font-size:14px;line-height:14px;}
.cv .skills section {overflow:auto;margin-bottom:0;}
.cv .skills section p {
  float:left;
  max-width:50%;
  word-break:break-word;
}
.cv .skills section span {
  display:inline-block;
  width:15px;
  height:15px;
  background:#bbb;
  border-radius:15px;
  float:right;
  margin:0 1px;
}
.cv .skills section span.full {background:#ff5335;}

section
{
  display: flex;
}

section span
{
  margin: 0%;
  top: 50%;
  background-color: #B83C26;
}


















.all
{
  justify-items: center;
  justify-content: center;
  align-content: center;
}

:root {
--first-color: #ff5335;
}
.core
{
  justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin:5%;
    padding:5%;
    width: 90%;
    border-style: solid;
    border-color: var(--first-color);
    background-color:white;
    border-radius: 25px;
    -webkit-box-shadow: 3px 10px 29px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 29px 0px rgba(0,0,0,0.75);
box-shadow: 3px 10px 29px 0px rgba(0,0,0,0.75);
}


.photo
{
    max-width: 200px;
    max-height: 200px;
}



.hexagon {
  max-width: 500px;
    max-height: 500px;
    border-style: solid;
    border-color: var(--first-color);
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
     -moz-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
       -o-transform: rotate(120deg);
          transform: rotate(120deg);
  cursor: pointer;
  }
.hexagon-in1 {
  overflow: hidden;
  border-style: solid;
    border-color: var(--first-color);
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
     -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
       -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
  }
.hexagon-in2 {
  border-style: solid;
    border-color: var(--first-color);
  width: 100%;
  height: 100%;
   background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  background-image: url("../resources/samy.jpg");

  visibility: visible;
  -webkit-transform: rotate(-60deg);
     -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
       -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
  }
.hexagon-in2:hover {
  border-style: solid;
    border-color: var(--first-color);
    background-image: url("../resources/samy.jpg");
  }

.hexagon1 {
  justify-items: center; justify-content:center; align-content:center;
  border-style: solid;
    border-color: var(--first-color);
  width: 400px;
  height: 200px;
  margin: 0 0 0 -80px;
  }
.hexagon2 {
  border-style: solid;
    border-color: var(--first-color);
  width: 200px;
  height: 400px;
  margin: -80px 0 0 20px;
  }
.dodecagon {
  border-style: solid;
    border-color: var(--first-color);
  width: 200px;
  height: 200px;
  margin: -80px 0 0 20px;
  }






span {
    display:inline-block;
    width:15px;
    height:15px;
    background-image: url("../resources/samy.jpg");
    border-radius:15px;
    float:right;
    
    margin:0 1px;
  }



  i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    background-color: var(--first-color);
    color: white;
  }

  .skills
  {
    display: flex;
  }

  .colored
  {
    background-color: var(--first-color);
  }

  .bar
  {
    margin: 10px;
    vertical-align:super;
  }

.section-title
{
  font-size: 24px;
  font-weight: bold;
}

.language
{
  font-size:20px;
}


p
{
  font-size: 18px;
}


.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}


.special
{
  margin: 5%;
}
.spec
{

width:100%;
  justify-content: space-between;
}

.ecole
{
  max-width: 100%;
  max-height: 100%;
}

.presentation
{
  font-size: 20px;
}

.name-skill
{
  max-width: 30%;
}



.address
{
  margin: 15px;
  font-size: 20px;
}
.spaced
{
  font-size: 17px;
  margin: 2%;
}




.skills,
.skills .skill,
.skills .skill .skill-title,
.skills .skill .skill-bar {
   width: 100%;
   float: left;
}

.skills {
   padding:15px;
}

.skills .skill {
   margin-bottom: 30px;
}

.skills .skill .skill-title {
   color: #808080;
   margin-bottom: 10px;
   font-weight: 400;
   font-size: 14px;
}

.skills .skill .skill-bar {
   width: 0;
   height: 6px;
   background: #f0f0f0;
   transition: 1s cubic-bezier(1, 0, .5, 1);
   -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
   -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills.active .skill .skill-bar {
   width: 100%;
}

.skills .skill .skill-bar span {
   float: left;
   width: 0%;
   background: #1D91F2;
   height: 6px;
   position: relative;
   transition: 1s cubic-bezier(1, 0, .5, 1);
   -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
   -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills .skill .skill-bar span b {
   float: left;
   width: 100%;
   position: relative;
   text-align: right;
   opacity: 0;
   font-size: 14px;
   color: #1D91F2;
   font-weight: 400;
   top: -13px;
}

.container{
  width: 100%;
  max-width: 600px;
  padding:0 15px;
  margin:0 auto;
}


.progress
{
  background-color: #a69c9a;
}

.progress .indeterminate
{
  background-color: white;
}


.title-sec
{
 
}

.experience-desc
{
  font-size: 18px;
}

.name-exp
{
  font-size: 20px;
  font-weight: bold;
  display:inline-block;
}

li
{
  font-size:18px;
}

.univ-projects
{
  font-size: 20px;
  font-weight: bold;
}

.icona-project
{
 width: 100%;
 justify-content: space-between;
  font-size: 20px;
}
.project p
{
  font-size: 18px;
}

.project div
{
  font-size: 16px;
}

.master-title
{
font-size: 20px;
font-weight: bold;
}

.date
{
  font-size: 18px;
  font-style: italic;
}

.master-description
{
  font-size: 18px;
}

.determinate
{
  background-color: darkblue;
}


.skill-title
{
  display:inline-block;
  font-weight: bold;
}

.linkss
{
  display:inline-block;
}