html, body
{
  height: 100%;
  width: 100%;
  background-color: #346789;
  background-image: url(resources/backgroun.png);
  font-family: Helvetica;
  color: #d7dfea; 
}
.photo
{
  border-radius: 50% 50%;
  height: 250px;
  width: 250px;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.zone
{
  color:black;
  background-color:#dee1e5;
  opacity: 1;
  padding: 30px;
}
.project
{
  border-style: solid;
  color:black;
  display: flex;
  border: 
}
.project-title
{
  width: 150px;
  max-width: 150px;
  min-width: 150px;
  border-style: solid;
  font-size: 25px;
  color: #5274a5;
}
.project-description
{
  text-align: center;
  border-style: solid;
display:block;
}
.row 
{
  z-index:9999;
}
.project-technologies
{
  border-style: solid;
color: #f29582;
}
.container
{
  z-index: 9999;
  overflow: hidden;

  width: 100%;
            max-width:initial;
           
}
.title-section
{
 color:black;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

}
.progress
{
  display: inline-block;
  white-space: nowrap;
  margin: 10px;
}
.rest-row
{
  width: 100%;
}
